div.view-container{
    border:solid 3px;
    width: 60%;
    box-sizing:border-box;
    margin: auto;
}
.resumeHeader{
    background-color:rgb(120, 202, 202);
    margin:0;
    padding: 5px 5px;
}

.headerTitle,.headerSubtitle{
    padding-left: 10%;
    text-align: left;  
}
.content-container{
    padding-left: 10%;
}